<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <script src="/js/jquery.js"></script>
    <div class="container">
        <%- include('./common/head.ejs')%>
            <div class="lv-main">
                <%- include('./common/menu.ejs')%>
                    <div class="body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>用户名</th>
                                    <th>昵称</th>
                                    <th>年龄</th>
                                    <th>性别</th>
                                    <th>是否管理员</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0;i<list.length;i++){ %>
                                    <tr>
                                        <th scope="row">
                                            <%=i+1%>
                                        </th>
                                        <td>
                                            <%= list[i].username %>
                                        </td>
                                        <td>
                                            <%= list[i].nickname %>
                                        </td>
                                        <td>
                                            <%= list[i].age %>
                                        </td>
                                        <td>
                                            <%= list[i].sex %>
                                        </td>
                                        <td>
                                            <%= list[i].isAdmin %>
                                        </td>
                                        <td>
                                            <% if(!list[i].isAdmin){ %>
                                                <a href="/users/delete?id=<%= list[i]._id%>">删除</a>
                                                <% } %>

                                        </td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>

                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <% for(var i=0;i<totalpage;i++){ %>
                                    <li class="<%= currentpage==(i+1)?'active':''%>">
                                        <a href="#">1</a>
                                        <%= i+1%>
                                    </li>
                                    <% } %>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                            </ul>
                        </nav>
                    </div>
            </div>
            <%- include('./common/foot.ejs')%>
    </div>
</body>

</html>